body {
  text-align: center;
}

#overlay {
        display: none;
        position: absolute;
        top: 0;
        bottom: 0;
        background: #999;
        width: 100%;
        height: 100%;
        opacity: 0.8;
        z-index: 100;
    }
#popup {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        background: #fff;
        width: 500px;
        height: 500px;
        margin-left: -250px; /*Half the value of width to center div*/
        margin-top: -250px; /*Half the value of height to center div*/
        z-index: 200;
    }
#popupclose {
        float: right;
        padding: 10px;
        cursor: pointer;
    }
    .popupcontent {
        padding: 10px;
    }
#instruction-button {
        
        cursor: pointer;
    }

#clock-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 350px 1fr 1fr;
  grid-template-rows: 87.5px 87.5px 87.5px 87.5px 50px 40px 40px;

}

#div1 {
  grid-area: 1/3/5/3;
  height: 100%;
  width: 100%;
  background-image: url('http://www.clker.com/cliparts/k/u/9/J/q/a/clock-face-no-hands-md.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.clock {
  grid-area: 1/3/5/3;
  border: 10px solid rgb(31, 113, 244);
  box-shadow: 0px 0px 10px 6px rgba(31, 113, 244, 1);
  border-radius: 50%;
  background-size: 100%;
  height: 95%;
  width: 95%;
  position: relative;
}

.seconds-container {
  position: absolute;
  border-radius: 50%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.seconds {
  background-image: url('clockhand.png');
  background-size: 79%;
  background-repeat: no-repeat;
  background-position: 182px -4px;
  height: 55%;
  right: 43.5%;
  bottom: 1%;
  position: relative;
  transform-origin: center;
}

.animate {
  animation: rotate 30s linear;
  animation-fill-mode: forwards;
}

@keyframes rotate {
  100% {
    transform: rotateZ(180deg);
  }
}

#start-button {
  grid-area: 5/3/5/3;
  text-align: center;
  margin: 10px 0;
}

#result-display {
  grid-area: 6/3/6/3;
  display: flex;
  flex-direction: column;
}

#best-words {
  grid-area: 7/2/7/5;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#player1-submit {
  grid-area: 4/1/4/3;
}

#player1-name {
  grid-area: 5/1/5/1;
}

#player1-score {
  grid-area: 5/2/5/2;
}

#p1-word-display {
  grid-area: 6/2/6/2;
}

#player2-submit {
  grid-area: 4/4/4/6;
}

#player2-name {
  grid-area: 5/5/5/5;
}

#player2-score {
  grid-area: 5/4/5/4;
}

#p2-word-display {
  grid-area: 6/4/6/4;
}

#letters {
  display: flex;
  flex-direction: row;
  width: 60%;
  height: 91px;
  border: 3px solid rgb(31, 113, 244);
  position: relative;
  margin: auto;
}

#shuffle-letters {
  grid-area: 6/5/6/5;
  height: 50px;
  width: 100px;
  border-radius: 8px;
  border: none;
  position: relative;
  left: 10px;
  align-self: center;
  background-color: rgb(31, 113, 244);
  color: white;
}

.letters {
  width: 10.9%;
  height: 95%;
  background-color: rgb(31, 113, 244);
  border: 2px solid white;
  text-align: center;
}

h2 {
  margin: 0;
  color: white;
  font-family: sans-serif;
  font-size: 70px;
  font-weight: normal;
}

h3 {
  margin: 0 5px;
}

#word-submit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.number-tile {
  width: 10.9%;
  height: 95%;
  background-color: rgb(31, 113, 244);
  border: 2px solid white;
  text-align: center;
}

.target-tile{
  width: 10.9%;
  height: 95%;
  background-color: rgb(31, 113, 244);
  border: 2px solid white;
  text-align: center;
}
